<div class="row">
	<br><br><br><br><br><br>
	<div class="col-md-12">
		<div class="jumbotron">
  			<h1>GeRI</h1>
  			<h4>Sistema de Gestión de Recursos Informáticos</h3>		
  			<h6>Departamento de sistemas - Comisión de Investigaciones Científicas de la Provincia de Buenos Aires</h6>
  		</div>
	</div>
</div>