<p><label-azul>Fecha:</label-azul> <%=@compra.fecha%></p>
<p><label-azul>Cantidad de Items:</label-azul> <%=@compra.cantidad_items%></p>
<p><label-azul>Lugar de Compra:</label-azul> <%=@compra.lugar%></p>
<p><label-azul>Total:</label-azul> $<%=@compra.total%></p>